@import url(../../assets/css/palette.css);

.rewards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2.5rem !important;
    
}
.cen-com{
    width: 80%;
    display: flex;
    justify-content: center;
}
.defragvalue{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.walletnotconnect{
    display: flex !important;
    justify-content: center !important;
}
 .r-com{
    display: flex;
    justify-content: space-between;
    background-color: #7f7fe9;
    margin: 0.5rem;
    border-radius: 5%;
}

.rewards-defrag-value{
    display: flex;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.rewards-a {
    display: flex;
    flex-direction: row;
    background-color: var(--gray-1);
    padding: -1.5em;
    margin: 1.5em;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}

.claim{
    border: solid 2px gray;
    background-color: #23b2ef;
    width: 50%;
    font-size: xx-small;
}
.claim:hover{
    border: solid 2px rgb(148, 51, 51);
    background-color: #23ca23;
}

img{
    /* background-color: #3182ce; */
    border-radius: 10%;
}
.rewards-X {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--gray-1);
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}
.rewards-X-I{
    position: relative;
    background-color: var(--gray-1);
    padding: -1.5em;
    margin: 1.5em;
    border-radius: 20px;
}
.rewards-X-sub{
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: gray;
}
span{
    font-size: 15px;
    font-weight: 900;
    text-align: initial;
    align-self: center;
}

.row{
    --bs-gutter-x: 0rem !important;
}

.rewards-a .title-container {
    flex: 1;
    text-align: center;
}


.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .icon {
    flex: 0 0 auto;
    padding: 5px;
    display: block;
    fill: #000;
    stroke: #000;
  }

  .seeschedule{
    font-size: xx-small;
    font-weight: 700;
    font-family: system-ui;
    background-color: #23b2ef;
  }
  
  .seeschedule:hover{
    background-color: #23ca23 !important;
    border: solid 2px rgb(148, 51, 51);
    
  }
  .Lockicon{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background-color: rgb(227, 235, 6);
    padding: 0.5rem;
    margin: 2px;
  }
  
  .icon svg { 
    --size: 1em;
    margin-right: 10px;
    fill: inherit;
    min-height: var(--size);
    min-width:  var(--size);
  }
.rewards-a .title-container .title_element {
    color: var(--blue-1);
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 48px;
}


.rewards-a .particular {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rewards-a .particular .ammount {
    color: var(--green);
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 36px;
    text-align: center;
}

.rewards-a .particular .subtitle {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
    color: var(--black);
}

.modal-header {
   
    border-bottom: 0px solid #dee2e6 !important;
  
}

.claimainbtn{
    width: 30%;
    margin-left: 70%;
    background-color: #3182ce;
    margin-bottom: 20px;
}

.claimlist1{
    background-color: '#dbdcdd' !important;
    align-items: 'center';
}

.modalmainbody{
    border-bottom: 1px solid #6d7c8b;
    padding-bottom: 0.3rem;
}

.modalsub1{

}

.modalsub2{
    
}

.modalsub3{
    
}

.modal-body {
    padding-top: 0rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
}

@media (max-width: 768px) {
    .rewards-a {
        flex-direction: column;
    }

    .rewards-a .particular {
        margin-top: 1em;
    }
    .reward-a-1{
        width: 100% !important;
        margin-top:15px;
        margin-bottom: 10px;
    }
    .reward-a-2{
        width: 100% !important;
        margin-top:10px;
        margin-bottom: 15px;
    }

}

@media (min-width: 576px){
.modal-dialog {
    max-width: 70% !important;
}
}